<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Starting</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link href="static/default.css" rel="stylesheet"/>
</head>
<body>
    <center>
    
    <img src="static/icon.png" alt="Logo" height="40px"></img>
    <h1>Enlight </h1></center>
    <h3>Starting...</h3>
    <small style="padding: 1px; margin: 0px;">
    We are using node <script>document.write(process.versions.node)</script>,
    Chrome <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.
</small>
</body>
</html>